body {
    margin: 0 auto;
    text-align: center;
    font-size: large;
}
.container {
    padding: 10px 35px 10px 35px;
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}